---
layout: default
---

<!-- Floating Header -->
<div id="floating-header">
    <h1>Blog Posts</h1>
    <p>Insights, News, and Thought Leadership</p>
</div>

<!-- Blog Listings -->
<div class="nav-box">
    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    <p>By Micky Multani on {{ post.date | date: "%B %d, %Y" }}</p>
    <img src="{{ site.baseurl }}{{ post.thumbnail }}" alt="Thumbnail">
    <p>{{ post.excerpt | strip_html | truncate:250 }}</p>
    <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
</div>


