---
layout: default
---

<!-- Floating Header -->
<div id="floating-header">
    <h1>Blog Posts</h1>
    <p>Insights, News, and Thought Leadership</p>
</div>

<!-- Blog Listings -->
<div class="nav-box">
    <!-- Thumbnail Image -->
    <div class="thumbnail-container">
        <img src="{{ site.baseurl }}{{ post.thumbnail }}" alt="{{ post.title }} thumbnail" class="post-thumbnail">
    </div>
    
    <!-- Post Content -->
    <div class="post-content">
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <p class="post-meta">
            By <strong>Micky Multani</strong> on 
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </p>
        <p>{{ post.excerpt | strip_html | truncate:100 }}</p>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More &rarr;</a>
    </div>
</div>