<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/portfolio/assets/css/style.css">
</head>
<body>
    {{ content }}

    <div id="typewriter"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const typeStrings = [
                "Risk management for the outdoors...",
                "Risk management for emerging technologies ...",
                "Exploring the nuances of AI, ML and CV...",
                "Decentralizing with Web 3.0...",
                "Scaling tech and mountains alike..."
            ];
            
            let typeIndex = 0;
            let charIndex = 0;
            const typewriterElem = document.getElementById("typewriter");
            
            function type() {
                if (charIndex < typeStrings[typeIndex].length) {
                    typewriterElem.textContent += typeStrings[typeIndex][charIndex];
                    charIndex++;
                    setTimeout(type, 100);
                } else {
                    setTimeout(() => {
                        typewriterElem.textContent = "";
                        charIndex = 0;
                        typeIndex = (typeIndex + 1) % typeStrings.length;
                        type();
                    }, 2000);
                }
            }
            
            type();
        });
    </script>
</body>
</html>
