<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/portfolio/assets/css/style.css">
</head>
<body>
    {{ content }}

    <!-- Typewriter Effect Script -->
    <script>
        window.onload = function() {
    const typeStrings = [
        ['// ', "<span style='color: green;'>Leading tech risk strategies...</span>", "\nlet ", "<span style='color: blue;'>strategy</span>", " = '<span style='color: orange;'>innovate</span>';"],
        ['/* ', "<span style='color: red;'>Exploring AI, ML, CV...</span>", " */", "\nfunction ", "<span style='color: blue;'>exploreTech</span>", "(<span style='color: yellow;'>tech</span>) { return tech; }"],
        ['# ', "<span style='color: yellow;'>Decentralizing with Web 3.0...</span>", "\n", "<span style='color: orange;'>web3.connect();</span>"],
        ['// ', "<span style='color: blue;'>Building partnerships...</span>", "\nconst ", "<span style='color: yellow;'>partners</span>", " = ['<span style='color: orange;'>LRC</span>', '<span style='color: orange;'>XYZ</span>'];"]
    ].map(s => s.join(''));
    
    let typeIndex = 0;
    let charIndex = 0;
    const typewriterElem = document.getElementById("typewriter");
    let currentString = "";

    function type() {
        if (charIndex < typeStrings[typeIndex].length) {
            currentString += typeStrings[typeIndex][charIndex];
            typewriterElem.innerHTML = currentString;
            charIndex++;
            setTimeout(type, 100);
        } else {
            setTimeout(() => {
                currentString = "";
                charIndex = 0;
                typeIndex = (typeIndex + 1) % typeStrings.length;
                type();
            }, 2000);
        }
    }
    
    type();
};

    </script>
</body>
</html>
