<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/portfolio/assets/css/style.css">
</head>
<body>
    {{ content }}

    <!-- Typewriter Effect Script -->
    <script>
        window.onload = function() {
            const typeStrings = [
                "// <span style='color: green;'>Leading tech risk strategies...</span>\nlet strategy = 'innovate';",
                "/* <span style='color: red;'>Exploring AI, ML, CV...</span> */\nfunction exploreTech(tech) { return tech; }",
                "# <span style='color: yellow;'>Decentralizing with Web 3.0...</span>\nweb3.connect();",
                "// <span style='color: blue;'>Building partnerships...</span>\nconst partners = ['LRC', 'XYZ'];"
            ];
            
            let typeIndex = 0;
            let charIndex = 0;
            const typewriterElem = document.getElementById("typewriter");
            
            function type() {
                if (charIndex < typeStrings[typeIndex].length) {
                    typewriterElem.innerHTML += typeStrings[typeIndex][charIndex];
                    charIndex++;
                    setTimeout(type, 100);
                } else {
                    setTimeout(() => {
                        typewriterElem.innerHTML = "";
                        charIndex = 0;
                        typeIndex = (typeIndex + 1) % typeStrings.length;
                        type();
                    }, 2000);
                }
            }
            
            type();
        };
    </script>
</body>
</html>
